

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type="text/css"/>
    <title>Capital Cycling</title>
    <link rel="stylesheet" href="/Users/jboehman/Documents/Python practice/static/styles/NewOrReturning.css" type="text/css">
</head>

<body id="body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       

        <div class="jumbotron jumbotron-fluid" id="Capital">
                <h1 class="display-4" id="CapCycling">Capital Cycling</h1>
                <p class="lead" id="Description">Thank you for choosing us for your cycling needs!</p>
                <p id="PleaseEnter">Please enter your email address.</p>
                <hr class="my-4" id="topHeader">
                
                

        </div>

        <br>


        <div class="form-group" id="Email">
                <input type="text" class="form-control" placeholder="Email Address" name="Email" width="300" required>
        </div>


</body>

</html>

